.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-container .today {
  width: 353px;
  height: 82vh;
  flex: 1 0 350px;
  color: white;
  display: flex;
  flex-direction: column;
}

.today .progressBar {
  height: 60px;
  width: 100%;
  background-color: #787994;
  display: flex;
  flex-direction: row;
  flex: 0 0 60px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progressBar::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 20%;
  background-color: #7cfc00;
  position: absolute;
  left: 0;
}

.progressBar h2 {
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  color: #000000;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.progressBar h2::after {
  content: '10% Completed';
  display: block;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

.taskList {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* ESTILOS BARRA DE ROLAGEM */
.activeScrollBar {
  overflow-y: scroll;
}

.activeScrollBar::-webkit-scrollbar{
  width: 3px;
}

.activeScrollBar::-webkit-scrollbar-thumb {
  background: #000;
}
/* FIM ESTILOS */

.taskList ul {
  list-style-type: none;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.taskList .horary li {
  height: 80px;
  width: 110px;
  background-color: #3502ffcc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.taskList .task li {
  height: 80px;
  width: 240px;
  background-color: #B5BACD;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5px;
  align-items: center;
  position: relative;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.taskList .task li.complete::before {
  content: '';
  display: block;
  width: 27px;
  height: 27px;
  background-image: url('../icons/Completed.svg');
  background-repeat: no-repeat;
  position: absolute;
  right: 5px;
  z-index: 1;
  cursor: pointer;
}

.taskList .task li::after {
  content: '';
  display: block;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  position: absolute;
  right: 5px;
  cursor: pointer;
  z-index: 0;
}

.sub-container .calendary {
  width: 55vw;
  height: 82vh;
  background-color: yellow;
}