.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-container .today {
  width: 350px;
  height: 82vh;
  background-color: seagreen;
  color: white;
}

.sub-container .calendary {
  width: 55vw;
  height: 82vh;
  background-color: yellow;
}