* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

aside {
  order: 0;
  height: 100vh;
  width: 20vw;
  background: linear-gradient(157.91deg, #02002B 19.94%, rgba(9, 3, 125, 0.92) 100%);
  color: white;
  display: flex;
}

aside div.cont-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 202px;
}

aside div.cont-side a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  margin-left: 32px;
}

aside div.cont-side a.logout {
  align-self: flex-end;
}

aside div.cont-side a.hist {
  align-self: center;
  height: 29.87px;
}

aside div.cont-side a.home {
  align-self: center;
}

aside div.cont-side a.home::before {
  content: "";
  display: inline-block;
  height: 25.4px;
  width: 28px;
  margin-right: 10px;
  background-image: url("/icons/home.svg");
  background-repeat: no-repeat;
}

aside div.cont-side a.hist::before {
  content: "";
  display: inline-block;
  height: 29.87px;
  width: 28px;
  margin-right: 10px;
  background-image: url("/icons/calendar.svg");
  background-repeat: no-repeat;
}

aside div.cont-side a.logout::before {
  content: "";
  display: inline-block;
  height: 29.87px;
  width: 28px;
  margin-right: 10px;
  background-image: url("/icons/logout.svg");
  background-repeat: no-repeat;
}

.container-column {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

header {
  width: 80vw;
  height: 18vh;
  background: linear-gradient(179.52deg, #0033FF 4.54%, rgba(0, 100, 250, 0.84) 97.21%);
  color: white;
}


.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-container .today {
  width: 350px;
  height: 82vh;
  background-color: seagreen;
  color: white;
}

.sub-container .calendary {
  width: 55vw;
  height: 82vh;
  background-color: yellow;
}